<main>
    <h2>Home</h2>

{{#each books}}
    <div class="book">
        <h3>Título: {{this.name}}</h3>
        <p>Quantidade de páginas: {{this.pageqty}}</p>
        <a href="/book/{{this.id}}">Veja mais sobre o livro</a>
    </div>
{{/each}}
</main>