<main>
    <h2>Home</h2>

{{#each books}}
    <div class="book">
        <h3>Título: {{this.name}}</h3>
        <p>Quantidade de páginas: {{this.pageqty}}</p>
        
        <div class="buttons">
            <a href="/book/{{this.id}}" class="mais">Veja mais sobre o livro</a>
            <a href="/edit/{{this.id}}" class="editar">Editar</a>
        </div>
    </div>
{{/each}}
</main>