

<form action="/register/save" method="POST">
    <div>
        <label for="name">Título:</label>
        <input type="text" name="name" placeholder="Digite o título" id="name"> 
    </div>
    <div>
        <label for="pageqty">Número de páginas:</label>
        <INPUT type="number" name="pageqty" placeholder="Quantas páginas o livro possui?" id="pageqty"></INPUT>
    </div>
    <button type="submit">Cadastrar</button>
</form>